/* Reset margin and padding for body */
$no-margin: 0;
$no-padding: 0;
$p-margin: 10px;
.body {
  margin: $no-margin;
  padding: $no-padding;

  /* Nested declaration for p tags inside body */
  .p {
    margin: $p-margin;
  }
}